DATABASE_URL=postgresql://ai:ai@127.0.0.1:5532/animos_elders_development
TWILIO_ACCOUNT_SID=AC123
TWILIO_AUTH_TOKEN=e123
TWILIO_VERIFY_SERVICE_SID=VA123
TWILIO_PHONE_NUMBER=5592381777
TWILIO_NOTIFY_SERVICE_SID=IS123
JWT_SECRET=abc123
SECRET_KEY=abc123
OPENAI_API_KEY=sk-123
ANTHROPIC_API_KEY=sk-123
DEEPGRAM_API_KEY=123
ELEVENLABS_API_KEY=123
ELEVENLABS_VOICE_ID=6fmjZd5e3lphvnurO4HY
TAVILY_API_KEY=tvly-123
OPENWEATHERMAP_API_KEY=123
AZURE_SPEECH_API_KEY=123
AZURE_SPEECH_REGION=westus
CHAT_API_ENTRYPOINT=23-242-248-94.ngrok-free.app